@import './reset.css';
@import './common.css';



/* 큰 틀 */
.wrapper{ min-width: 1190px; }
/* skip-nav */
.skip-nav { position: relative }
.skip-nav a { position: absolute; line-height: 50px; background: #f00; color: #fff; top: -50px; }
.skip-nav a:focus, .skip-nav a:active { top: 0; }

/* 헤더 */
.header{}
.header .group-flex{ position: relative; width: 1130px; height: 160px; margin: 0 auto; padding: 0 30px; }
.header .logo-area{ position: absolute; top: 50%; left: 21px; margin-top: -32px; }
.header .logo-area .logo a{ display: block; }
.header .logo-area .logo a::before{ width: 222px; height: 52px; background-position: 0 -158px; display: block; content: ''; }

.header .search-area { position: absolute; top: 50%; left: 268px; margin-top: -28px; }
.header .search-area .inner{ position: relative; width: 582px; height: 52px; border: 2px solid #19ce60; border-radius: 2px; }
.header .search-area .input-text { width: 444px; height: 24px; padding: 13px 15px; margin: 1px; background-color: #fff; font-size: 18px; line-height: 24px; color: #000; font-weight: 700; outline: 0; }
.header .search-area .btn-submit{ position: absolute; top: 0; right: 0; bottom: 0; width: 56px; background-color: #19ce60; border-radius: 0 2px 2px 0; cursor: pointer; }
.header .search-area .btn-submit::before{ display: inline-block; vertical-align: top; width: 22px; height: 22px; background-position: -420px -24px; content: ''; }


.header .service-area { display: flex; position: absolute; top: 12px; right: 27px; }
.header .service-area .bar{ width: 1px; height: 10px; background: #ccc; margin: 3px 7px; }
.header .service-area .link-start::after{ width: 26px; height: 26px; display: inline-block; vertical-align: top; background-position: -382px -213px; margin-top: -3px; margin-left: 3px; content: ''; }
.header .service-area .link-junior::after { display: inline-block; width: 60px; height: 10px; background-position: -264px -296px; vertical-align: top; margin: 3px; content: ''; }
.header .service-area .link-bin::after { display: inline-block; width: 34px; height: 11px; background-position: -365px -245px; vertical-align: top; margin: 3px 3px 2px; content: ''; }

/* gnb */
.gnb{ position: relative; border-top: 1px solid #e4e8eb; box-shadow: 0 1px 3px 0 rgb(0 0 0 / 12%); }
.gnb .gnb-inner{ display: flex; justify-content: space-between; width: 1130px; margin: 0 auto; }
.gnb .group-nav{ display: flex; justify-content: space-between; gap: 12px; padding: 11px 0; } 
.gnb .group-nav .nav-list{ display: flex; justify-content: space-between; gap: 12px; line-height: 30px; font-size: 15px; font-weight: bold; color: #03c75a; }
.gnb .group-nav .nav-item .nav.ic-mail::before { display: inline-block; width: 21px; height: 21px; background-position: -420px -73px; vertical-align: top; margin: 3px 9px 0 0; content: ''; }
.gnb .group-nav .nav-item .nav.ic-shop::before{ display: inline-block; width: 24px; height: 20px; background-position: -76px -381px; vertical-align: top; padding: 5px 0; content: ''; } 
.gnb .group-nav .nav-item .nav.ic-shoplive::before{ display: inline-block; width: 54px; height: 20px; background-position: -209px -262px; vertical-align: top; padding: 5px 0; content: ''; } 
.gnb .group-nav .nav-item .nav.ic-tv::before { display: inline-block; width: 12px; height: 14px; background-position: -256px -212px; background-repeat: no-repeat; vertical-align: top; margin: 9px 2px 0 0; content: ''; }
.gnb .group-nav .nav-favorite{ display: flex; justify-content: space-between; gap: 12px; line-height: 30px; font-size: 15px; font-weight: bold; color: #000; }
.gnb .group-nav .btn-more{ font-size: 13px; line-height: 30px; color: #202020; text-align: right; }
.gnb .group-nav .btn-more::after{ display: inline-block; width: 11px; height: 7px; background-position: -402px -296px; vertical-align: top; content: ''; margin-left: 7px; vertical-align: 2px; }

/* 날씨영역 */
.gnb .group-weather{ display: flex; max-width: 270px; height: 100%; text-align: right; font-size: 13px; line-height: 29px; padding: 12px 0 11px; box-sizing: border-box; }
.gnb .group-weather .weather-area::before{ display: inline-block; vertical-align: top; width: 29px; height: 29px; background-position: 0 -62px; content: ''; }
.gnb .group-weather .current{ font-size: 15px; font-weight: bold; vertical-align: top; }
.gnb .group-weather .state{ margin-left: 5px; }
.gnb .group-weather .degree-area{ margin-left: 9px; }
.gnb .group-weather .degree-blue{ color: #2586ee; }
.gnb .group-weather .degree-red{ color: #e9564a; }
.gnb .group-weather .degree-red::before{ display: inline-block; width: 5px; height: 11px; background-position: -437px -182px; background-repeat: no-repeat; vertical-align: top; content: ''; margin: 0 3px; vertical-align: -1px; }
.gnb .location{ overflow: hidden; text-overflow: ellipsis; white-space: nowrap; display: block; padding-left: 9px; font-size: 12px; color: grey; text-align: right; }


/* footer */
.footer{ background-color: #fafbfc; border-top: 1px solid #e4e8eb; }
.footer .footer-inner{ width: 1130px; padding: 0 30px 92px; margin: 0 auto; }

.footer .footer-inner .banner-area{ display: flex; justify-content: space-between; overflow: hidden; padding: 24px 0; border-bottom: 1px solid #e4e8eb; }
.footer  .banner-area .link-banner{ display: flex; }
.footer .banner-item .banner-img{ overflow: hidden; position: relative; width: 160px; height: 86px; }
.footer .banner-item .banner-info{ overflow: hidden; height: 86px; padding: 2px 2px 0 16px; font-size: 12px; line-height: 1.25; box-sizing: border-box; text-align: left; }
.footer .banner-item .banner-info em{ display: block; overflow: hidden; font-weight: 700; letter-spacing: -0.25px; color: #58c464; white-space: nowrap; }
.footer .banner-item .banner-info strong{ display: block; margin-top: 6px; font-size: 13px; font-weight: 700; line-height: 1.25; margin-top: 6px; letter-spacing: -0.26px; color: #242424; white-space: nowrap; }
.footer .banner-item .banner-info p{ overflow: hidden; line-height: 18px; letter-spacing: -0.25px; margin-top: 8px; color: #424242; white-space: nowrap; }

.footer .notice-area{ padding: 16px 0 15px; border-bottom: 1px solid #e4e8eb; }
.footer .notice-area .notice-wrap{ display: flex; justify-content: space-between; }
.footer .notice-wrap .title{ color: #202020; font-weight: bold; }
.footer .notice-wrap .link-all{ font-weight: bold; }
.footer .notice-wrap .link-all::after{ display: inline-block; width: 8px; height: 12px; background-position: -408px -110px; content: ''; margin-left: 10px; vertical-align: -2px; }
.footer .aside-area{ display: flex; border-bottom: 1px solid #e4e8eb; justify-content: space-between; }
.footer .aside-area .partner-wrap{ width: 780px; padding: 20px 0; display: flex; gap: 10px; flex-direction: column; }
.footer .partner-wrap .partner-item{ display: flex; }
.footer .partner-wrap .partner-item .title{ width: 87px; color: #202020; font-weight: bold; }
.footer .partner-wrap .partner-item .link-partner{ color: #777; }
.footer .partner-item .link-partner+.link-partner::before{ content: ''; display: inline-block; width: 1px; height: 11px; background: #e4e8eb; vertical-align: -1px; margin: 0 8px; }
.footer .aside-area .service-wrap{ display: flex; padding: 28px 0; }
.footer .aside-area .service-wrap .service-item{ overflow: hidden; display: flex; gap: 10px; flex-direction: row-reverse; }
.footer .service-item .service-logo{ display: flex; width: 48px; height: 48px; margin-right: 20px; }
.footer .aside-area .service-wrap .service-info{ display: flex; flex-direction: column; }
.footer .aside-area .service-wrap .service-info .title{ overflow: hidden; text-overflow: ellipsis; white-space: nowrap; display: block; padding-top: 2px; font-weight: bold; }
.footer .aside-area .service-wrap .service-info .dsc{ overflow: hidden; text-overflow: ellipsis; white-space: nowrap; display: block; padding-top: 2px; color: grey; }

.footer .corp-area{ display: flex; padding-top: 25px; }
.footer .corp-area .corp-list{ display: flex; }
.footer .corp-area .corp-list .corp-item{ color: #777; }
.footer .corp-area .corp-item strong{ font-weight: bold; }
.footer .corp-area .corp-item+.corp-item::before{ content: ''; display: inline-block; width: 1px; height: 11px; background: #e4e8eb; margin: 0 8px; vertical-align: -1px; }
.footer .corp-area .addr{ font-weight: bold; margin-left: 8px; }